<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="<%= active_tab('index') %>" style="width: 50%">
      <%= link_item "<i class='fa fa-list'></i> #{t '.late_for_work'}".html_safe, authenticated_root_path %>
    </li>
    <li class="<%= active_tab('not_working') %>" style="width: 48%">
      <%= link_item "<i class='fa fa-list'></i> #{t '.not_working'}".html_safe, home_not_working_path %>
    </li>
  </ul>
</div>

<div class="box">
  <div class="box-header with-border">
    <div class="box-tools">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= t '.full_name' %></th>
        <th><%= t '.email' %></th>
        <th><%= t 'helpers.actions' %></th>
      </tr>
      </thead>
      <tbody>
      <% users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td class="actions">
              <div>
                <%= link_item '<i class="fa fa-search"></i>'.html_safe, home_attendances_path(user), class: 'btn btn-flat btn-xs bg-green' %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.box-body -->
  <div class="box-footer clearfix">
    <%= custom_paginator users, 'no-margin pull-right' %>
  </div>
</div>
